@model IEnumerable<ApplicationUser>
@{
    ViewBag.PageTitle = "User Managment";
    ViewData["CardTitle"] = "View Users";
}


<a href="/Identity/Account/Register" class="btn btn-primary" style="background-color:gainsboro;color:black;margin-left:0px">Create New USers</a>



<table class="table" width="100%">
    <thead class="text-bold">
    <tr>
        <td width="20%">Name</td>
        <td width="20%">Email</td>
        <td width="20%">PhoneNumber</td>
        <td width="20%">Actions</td>
    </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.PhoneNumber</td>
            <td>
                @if(item.LockoutEnd==null | item.LockoutEnd < DateTime.Now)
                {
                    <a class="btn btn-success" asp-action="LockUnLock" asp-route-id="@item.Id">
                        <i class="fas fa-lock-open"></i>
                    </a>
                }
                else
                {
                    <a class="btn btn-danger" asp-action="LockUnLock" asp-route-id="@item.Id">
                        <i class="fas fa-lock"></i>
                    </a>
                }
               

                <a class="btn btn-dark" href="/Admin/Category/Delete/@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>
<hr style="background-color:gainsboro" />
